/public/hot
/public/storage
/storage/*.key
/.idea

npm-debug.log
yarn-error.log

### Composer ###
composer.phar
/vendor

### PHP Coding Standards Fixer ###
.php_cs.cache

### Node ###
/node_modules

## Laravel ##
.env

## Laravel Homestead ##
/.vagrant
Homestead.yaml
Homestead.json
*.lock
*.json
