// Body
$body-bg: #FFF;
// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border-color: $laravel-border-color;
$card-border-color: $laravel-border-color;
// Typography
$font-family-sans-serif: -apple-system,
BlinkMacSystemFont,
"Helvetica Neue",
"Yu Gothic",
YuGothic,
Verdana,
Meiryo,
"M+ 1p",
sans-serif;
//$font-family-monospace:  SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
//$font-size-base: .875rem; // 14px
$line-height-base: 1.6;
$text-color: #636b6f;
// Inputs
$input-border-color: lighten($text-color, 40%);
$input-placeholder-color: lighten($text-color, 30%);
// misc
$footer-height: 64px;