// Auto kerning Hack
body {
  font-feature-settings: 'palt';
}

.table {
  width: auto;
}

.table.mx-0 {
  width: 100%;
}

pre.pre {
  margin: 0.5rem 0;
  padding: 0.375rem 0.75rem;
  background: $gray-100;
  font-size: $code-font-size;
  color: $pre-color;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  border: $input-border-width solid $input-border-color;
  @if $enable-rounded {
    // Manually use the if/else instead of the mixin to account for iOS override
    border-radius: $input-border-radius;
  } @else {
    // Otherwise undo the iOS default
    border-radius: 0;
  }
}
